
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:100px">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="max-height:inherit">
        <h2 style="text-align:center; color:deepskyblue">Đặt Hàng Thất Bại.</h2>
        <h4 style="text-align:center">Kiểm tra lại đường dẫn internet của bạn và đặt hàng lại.</h4>
        <h4><a href="@Url.Action("Index","Home")">Nhấn vào đây để quay lại trang mua sắm.</a></h4>
    </div>
    <div class="col-lg-4"></div>
</div>

